:root {
  --roomborder: #ececec;
  --roomtext: #d1d1d1;
  --roomdark: #0d1117;
  --roomlight: #151b23;
  --borderbottom: #4e4e4eb9;
  --white: white;
  --room-bottom: #2a2e38;
  --white: #fff;
  --black: #000;
  --bodydark: #151b23;
  --navdark: #0d1117;
  --lightBulue: rgb(34, 237, 255);
  --links: rgb(34, 237, 255);
}

.auth-body {
  z-index: 99;
  padding: 5rem 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.auth-body .login-user {
  border: 1px solid var(--navdark);
  background-color: #0d1117d8;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  -webkit-box-shadow: 0 0 7px rgba(255, 255, 255, 0.169);
          box-shadow: 0 0 7px rgba(255, 255, 255, 0.169);
  border-radius: 1rem;
  height: 100%;
  width: 33%;
  padding: 2rem;
}

.auth-body .login-user .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.1rem;
}

.auth-body .login-user .top .top-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-body .login-user .top .top-1 p {
  font-size: 1.1vw;
  color: white;
}

.auth-body .login-user .top .top-1 i {
  color: var(--white);
  font-size: 1.3vw;
  cursor: pointer;
}

.auth-body .login-user .top .top-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2vw;
  color: white;
}

.auth-body .login-user .mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0 0.5rem 0;
  gap: 1rem;
}

.auth-body .login-user .mid .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 1% 0 5% 0;
}

.auth-body .login-user .mid .input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--white);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.auth-body .login-user .mid .input-box input:focus,
.auth-body .login-user .mid .input-box input:valid {
  border-bottom-color: var(--lightBulue);
}

.auth-body .login-user .mid .input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 16px;
  color: var(--white);
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.auth-body .login-user .mid .input-box input:focus ~ label,
.auth-body .login-user .mid .input-box input:valid ~ label {
  top: -5px;
  color: var(--lightBulue);
}

.auth-body .login-user .mid .input-box i {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 18px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
}

.auth-body .login-user .mid .input-box input:focus ~ i,
.auth-body .login-user .mid .input-box input:valid ~ i {
  color: var(--lightBulue);
}

.auth-body .login-user .mid .body-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
}

.auth-body .login-user .mid .body-btn button {
  width: 100%;
  height: 45px;
  background-color: var(--white);
  color: var(--black);
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 5px;
}

.auth-body .login-user .mid .body-btn button:hover {
  background-color: rgba(255, 255, 255, 0.793);
}

.auth-body .login-user .mid .mid-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 0;
  color: var(--white);
  text-align: start;
  margin-top: 10px;
}

.auth-body .login-user .mid .mid-1 p,
.auth-body .login-user .mid .mid-1 a {
  font-size: 0.9vw;
  padding: 0.3rem 0.4rem;
  color: var(--white);
  text-decoration: none;
  font-weight: 600;
}

.auth-body .login-user .mid .mid-1 a:hover {
  text-decoration: underline;
}

.auth-body .login-user .or {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.auth-body .login-user .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 3% 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.auth-body .login-user .bottom .google-box {
  border: 1px solid var(--white);
  cursor: pointer;
  border-radius: 40px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.auth-body .login-user .bottom .google-box i {
  font-size: 20px;
  color: white;
}

.auth-body .login-user .bottom .google-box p {
  font-size: 18px;
  color: white;
}

.auth-body .login-user .bottom .google-box:hover {
  background-color: rgba(216, 216, 216, 0.408);
}
/*# sourceMappingURL=index.css.map */