
asgiref
djangorestframework-simplejwt
openai
transformers
monaco-editor
django
channels
daphne
requests
django-allauth
psycopg2-binary
PyJWT
Pillow
gunicorn
dj-database-url
django-select2
whitenoise
django-storages 
google-cloud-storage





