footer {
  display: none;
}

.main-upload {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 2rem;

  .left {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;

    .left-top {
      display: flex;
      justify-content: space-evenly;
      button {
        background-color: var(--navdark);
        color: var(--llwhite);
        border: none;
        padding: 0.2rem 1rem;
        border-radius: 5px;
      }
    }

    video {
      height: 80%;
      object-fit: cover;
    }
  }
}

.code-snippet-form {
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.179);
  backdrop-filter: blur(10px);
  padding: 1rem;
  border-radius: 10px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;

    .top {
      display: flex;
      justify-content: space-between;
      button {
        border: none;
        padding: 0.2rem 0.7rem;
        border-radius: 5px;
      }
    }
    .title {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      input {
        padding: 0.5rem;
        border-radius: 5px;
        border: none;
        background-color: rgba(255, 255, 255, 0.179);
        color: var(--llwhite);
      }
    }
    .language {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      select {
        padding: 0.5rem;
        border-radius: 5px;
        border: none;
        background-color: rgba(255, 255, 255, 0.179);
        color: var(--llwhite);
      }
      option {
        background-color: var(--navdark);
        color: var(--llwhite);
      }
    }
    .code {
      display: flex;
      flex-direction: column;
      textarea {
        padding: 0.5rem;
        border-radius: 5px;
        border: none;
        background-color: rgba(255, 255, 255, 0.179);
        color: var(--llwhite);
        max-height: 200px;
      }
      ::placeholder {
        color: var(--llwhite);
      }
    }
    button {
      border: none;
      padding: 0.7rem;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;

  .top {
    // border: 1px solid var(--navdark);
    display: flex;
    justify-content: space-between;

    h3 {
      color: var(--llwhite);
    }
    .top-left {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      button {
        background-color: var(--navdark);
        color: var(--llwhite);
        border: none;
        padding: 0.7rem;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          background-color: rgb(9, 9, 23);
        }

        i {
          font-size: 1rem;
          display: block;
        }
        span {
          font-size: 1rem;
        }
      }
    }
  }
  .code-bottom {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;

    .code-box {
      border: 1px solid var(--border);
      padding: 1rem;
      border-radius: 5px;
      margin-bottom: 1rem;
      background-color: var(--navdark);
      gap: 1rem;
      display: flex;
      flex-direction: column;

      .code-box-top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .code-box-top-right {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 1.5rem;

          .code-box-top-right-left {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.042);
            color: var(--llwhite);
          }

          .code-box-customize {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;

            a {
              text-decoration: none;
              color: var(--llwhite);
              i {
                font-size: 1rem;
              }
            }
          }
        }
      }

      .code-container {
        position: relative;
        border-radius: 5px;
        // border: 1px solid white;
        width: 100%;
        overflow: hidden;

        pre {
          border-radius: 5px;
          padding: 1rem;
          background-color: rgba(40, 69, 99, 0.142);
          color: var(--llwhite);
          // border: 1px solid white;
          overflow: auto;
        }
      }

      .copy-btn {
        position: absolute;
        top: 20px;
        right: 10px;
        background-color: rgba(246, 246, 246, 0.075);
        color: white;
        border: none;
        padding: 6px 10px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 12px;
        z-index: 2;
      }

      .copy-btn:hover {
        background-color: #666;
      }
    }
  }
}
@media (max-width: 768px) {
  .main {
    .code-bottom {
      .code-box {
        .code-container {
          width: 450px;
        }
      }
    }
  }
}
@media (max-width: 425px) {
  .main {
    .code-bottom {
      .code-box {
        .code-container {
          width: 420px;
        }
      }
    }
  }
}
@media (max-width: 576px) {
  main {
    width: 100%;
  }
  .main {
    width: 100%;
    .top {
      .top-left {
        button {
          padding: 0.4rem;
          i {
            display: none;
          }
          span {
            font-size: 0.8rem;
          }
        }
      }
    }
    padding: 0.8rem;
    .code-bottom {
      .code-box {
        .code-box-top {
          .code-box-top-right {
            .code-box-top-right-left {
              display: none;
            }
          }
        }
        .code-container {
          width: 330px;
        }
      }
    }
  }

  .main-upload {
    padding: 0.8rem;
    .left {
      display: none;
    }
  }

  .code-snippet-form {
    width: 90%;

    form {
      .top {
        button {
          padding: 0.4rem;
        }
      }
      .title {
        input {
          padding: 0.4rem;
        }
      }
      .language {
        select {
          padding: 0.4rem;
        }
      }
      .code {
        textarea {
          padding: 0.4rem;
        }
      }
    }
  }
}
