footer {
  display: none;
}

.main-upload {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 2rem;
}
.main-upload .left {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}
.main-upload .left .left-top {
  display: flex;
  justify-content: space-evenly;
}
.main-upload .left .left-top button {
  background-color: var(--navdark);
  color: var(--llwhite);
  border: none;
  padding: 0.2rem 1rem;
  border-radius: 5px;
}
.main-upload .left video {
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

.code-snippet-form {
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.179);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 1rem;
  border-radius: 10px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.code-snippet-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
.code-snippet-form form .top {
  display: flex;
  justify-content: space-between;
}
.code-snippet-form form .top button {
  border: none;
  padding: 0.2rem 0.7rem;
  border-radius: 5px;
}
.code-snippet-form form .title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.code-snippet-form form .title input {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.179);
  color: var(--llwhite);
}
.code-snippet-form form .language {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.code-snippet-form form .language select {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.179);
  color: var(--llwhite);
}
.code-snippet-form form .language option {
  background-color: var(--navdark);
  color: var(--llwhite);
}
.code-snippet-form form .code {
  display: flex;
  flex-direction: column;
}
.code-snippet-form form .code textarea {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.179);
  color: var(--llwhite);
  max-height: 200px;
}
.code-snippet-form form .code ::-moz-placeholder {
  color: var(--llwhite);
}
.code-snippet-form form .code ::placeholder {
  color: var(--llwhite);
}
.code-snippet-form form button {
  border: none;
  padding: 0.7rem;
  border-radius: 5px;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}
.main .top {
  display: flex;
  justify-content: space-between;
}
.main .top h3 {
  color: var(--llwhite);
}
.main .top .top-left {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.main .top .top-left button {
  background-color: var(--navdark);
  color: var(--llwhite);
  border: none;
  padding: 0.7rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.main .top .top-left button:hover {
  background-color: rgb(9, 9, 23);
}
.main .top .top-left button i {
  font-size: 1rem;
  display: block;
}
.main .top .top-left button span {
  font-size: 1rem;
}
.main .code-bottom {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-grow: 1;
}
.main .code-bottom .code-box {
  border: 1px solid var(--border);
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  background-color: var(--navdark);
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.main .code-bottom .code-box .code-box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .code-bottom .code-box .code-box-top .code-box-top-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}
.main .code-bottom .code-box .code-box-top .code-box-top-right .code-box-top-right-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.042);
  color: var(--llwhite);
}
.main .code-bottom .code-box .code-box-top .code-box-top-right .code-box-customize {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.main .code-bottom .code-box .code-box-top .code-box-top-right .code-box-customize a {
  text-decoration: none;
  color: var(--llwhite);
}
.main .code-bottom .code-box .code-box-top .code-box-top-right .code-box-customize a i {
  font-size: 1rem;
}
.main .code-bottom .code-box .code-container {
  position: relative;
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
}
.main .code-bottom .code-box .code-container pre {
  border-radius: 5px;
  padding: 1rem;
  background-color: rgba(40, 69, 99, 0.142);
  color: var(--llwhite);
  overflow: auto;
}
.main .code-bottom .code-box .copy-btn {
  position: absolute;
  top: 20px;
  right: 10px;
  background-color: rgba(246, 246, 246, 0.075);
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  z-index: 2;
}
.main .code-bottom .code-box .copy-btn:hover {
  background-color: #666;
}

@media (max-width: 576px) {
  main {
    width: 100%;
  }
  .main {
    width: 100%;
    padding: 0.8rem;
  }
  .main .top .top-left button {
    padding: 0.4rem;
  }
  .main .top .top-left button i {
    display: none;
  }
  .main .top .top-left button span {
    font-size: 0.8rem;
  }
  .main .code-bottom .code-box .code-box-top .code-box-top-right .code-box-top-right-left {
    display: none;
  }
  .main .code-bottom .code-box .code-container {
    width: 330px;
  }
  .main-upload {
    padding: 0.8rem;
  }
  .main-upload .left {
    display: none;
  }
  .code-snippet-form {
    width: 90%;
  }
  .code-snippet-form form .top button {
    padding: 0.4rem;
  }
  .code-snippet-form form .title input {
    padding: 0.4rem;
  }
  .code-snippet-form form .language select {
    padding: 0.4rem;
  }
  .code-snippet-form form .code textarea {
    padding: 0.4rem;
  }
}
@media (max-width: 768px) {
  .main .code-bottom .code-box .code-container {
    width: 450px;
  }
}/*# sourceMappingURL=code_snippet.css.map */