footer {
  display: none;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --roomborder: #ececec;
  --roomtext: #d1d1d1;
  --roomdark: #0d1117;
  --roomlight: #151b23;
  --borderbottom: #4e4e4eb9;
  --white: white;
  --room-bottom: #2a2e38;
  --white: #ffffffca;
  --black: #000;
  --bodydark: #151b23;
  --navdark: #0d1117;
  --lightBulue: rgb(34, 237, 255);
  --links: rgb(34, 237, 255);
}

.auth-body-login {
  position: absolute;
  padding: 0;
  margin: 0;
  padding: 1rem 0;
  width: calc(100% - 58px);
  // border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  .login-container{
    display: flex;
    flex-direction: column;
   
   gap: 2rem;
    width: 45%;
    padding: 2rem 2rem 0 2rem;
    // border: 1px solid red;
   .top{
    display: flex;
    flex-direction: column;
    .login-title{
      font-size: 5rem;
      color: var(--white);
    }

    .login-subtitle{
      font-size: .9rem;
      font-weight: 400;
      color: var(--white);
    }

    .login-description{
      font-size: 1rem;
      font-weight: 400;
      color: var(--white);
      margin-top: 1rem;
    }
  }
    
  }

  .login-user {
    // border: 1px solid var(--navdark);
    // background-color: #0d11177d;
    // backdrop-filter: blur(5px);
    // box-shadow: 0 0 7px rgba(255, 255, 255, 0.169);
    width: 35%;
    border-radius: .5rem;
    padding: 2rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
   
    

    .top {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;

      // border: 1px solid black;
      .top-1 {
        // border: 1px solid black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        p {
          font-size: 1.1vw;
        }
        i {
          color: var(--white);
          font-size: 1.3vw;
          cursor: pointer;
        }
      }
      .top-2{
        // border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        .google-box {
          border: 1px solid var(--white);
          cursor: pointer;
          border-radius: 10px;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          padding: .8rem;
          gap: 1rem;
          transition: 0.2s ease-in;
  
          i {
            font-size: 22px;
          }
          p {
            font-size: 18px;
          }
        }
        .google-box:hover {
          background-color: #d8d8d868;
          border: 1px solid #d8d8d868;
        }
      }
    }
    .mid {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem 0 0.5rem 0;
     
      .input-box {
        position: relative;
        width: 100%;
        height: 50px;
        margin: 1% 0 5% 0;
        // border: 1px solid red;
      }

      .input-box input {
        width: 100%;
        height: 100%;
        background: transparent;
        color: var(--white);
        font-size: 16px;
        font-weight: 500;
        border: none;
        outline: none;
        border-bottom: 2px solid var(--white);
        transition: 0.5s;
      }

      .input-box input:focus,
      .input-box input:valid {
        border-bottom-color: var(--lightBulue);
      }

      .input-box label {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        font-size: 16px;
        color: var(--white);
        pointer-events: none;
        transition: 0.5s;
      }

      .input-box input:focus ~ label,
      .input-box input:valid ~ label {
        top: -5px;
        color: var(--lightBulue);
      }

      .input-box i {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-size: 18px;
        transition: 0.5s;
      }

      .input-box input:focus ~ i,
      .input-box input:valid ~ i {
        color: var(--lightBulue);
      }
      .body-btn {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 5%;
        button {
          width: 100%;
          padding: .8rem;
          background-color: var(--white);
          color: var(--black);
          border: none;
          outline: none;
          border-radius: 10px;
          cursor: pointer;
          font-size: 16px;
          font-weight: 600;
          transition: 0.3s;
          margin-top: 5px;
        }
      }

      .body-btn button:hover {
        background-color: rgba(255, 255, 255, 0.793);
      }
      .mid-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 2rem 0;
        color: var(--white);
        text-align: start;
        margin-top: 10px;

        p,
        a {
          font-size: 0.9vw;
          color: var(--white);
          text-decoration: none;
          font-weight: 600;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
    
  }
}



// @media (max-width: 400px) {
//   .auth-body-login {
//     width: 100%;
//     top: 5%;
//     .login-user {
//       height: 81%;
//       width: 92%;
//       margin-right: 0;

//       .top {
//         .top-1 {
//           p,
//           i {
//             font-size: 18px;
//           }
//         }
//         .top-2 {
//           font-size: 28px;
//         }
//       }
//       .mid {
//         .mid-1 {
//           p,
//           a {
//             font-size: 12px;
//           }
//         }
//       }
//     }
//   }
// }

.auth-body-signup {
  position: absolute;
 
  margin: 0;
  width: calc(100% - 58px);
  // border: 1px solid wheat;
  display: flex;
  padding: 3rem 0 ;
  justify-content: space-evenly;
  
  .signup-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
    width: 45%;
    padding: 2rem 2rem 0 2rem;
    
    // border: 1px solid red;

    .top{
      display: flex;
      flex-direction: column;
      .signup-title{
        font-size: 5rem;
      }
    }
  }

  .signup-user {
    
    border-radius: 1rem;
    padding: 0 2rem;
    width: 35%;

    .top {
      display: flex;
      flex-direction: column;
      gap: 1.1rem;

      // border: 1px solid black;
      .top-1 {
        // border: 1px solid black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        p {
          font-size: 1.1vw;
          color: white;
        }
        i {
          color: var(--white);
          font-size: 1.3vw;
          cursor: pointer;
        }
      }
      .top-2 {
        // border: 1px solid black;
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .or{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          .or-line{
            width: 100%;
            height: 1px;
            background-color: var(--white);
            opacity: 0.2;
          }
        }
  
        .google-box {
          border: 1px solid var(--white);
          cursor: pointer;
          border-radius: 10px;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          padding: 0.7rem;
          transition: 0.2s ease-in;
  
          i {
            font-size: 20px;
            color: white;
          }
          p {
            font-size: 14px;
            color: white;
          }
        }
        .google-box:hover {
          background-color: rgba(216, 216, 216, 0.408);
          border: 1px solid rgba(216, 216, 216, 0.408);
        }
      }
    }
    .mid {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem 0 0.5rem 0;
      gap: 1rem;

      .input-box {
        position: relative;
        width: 100%;
        height: 50px;
        margin: 1% 0 5% 0;
        // border: 1px solid red;
      }

      .input-box input {
        width: 100%;
        height: 100%;
        background: transparent;
        color: var(--white);
        font-size: 16px;
        font-weight: 500;
        border: none;
        outline: none;
        border-bottom: 2px solid var(--white);
        transition: 0.5s;
      }

      .input-box input:focus,
      .input-box input:valid {
        border-bottom-color: var(--lightBulue);
      }

      .input-box label {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        font-size: 16px;
        color: var(--white);
        pointer-events: none;
        transition: 0.5s;
      }

      .input-box input:focus ~ label,
      .input-box input:valid ~ label {
        top: -5px;
        color: var(--lightBulue);
      }

      .input-box i {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-size: 18px;
        transition: 0.5s;
        color: white;
      }

      .input-box input:focus ~ i,
      .input-box input:valid ~ i {
        color: var(--lightBulue);
      }
      .body-btn {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 5%;
        button {
          width: 100%;
          padding: .5rem;
          background-color: var(--white);
          color: var(--black);
          border: none;
          outline: none;
          border-radius: 10px;
          cursor: pointer;
          font-size: 14px;
          font-weight: 600;
          transition: 0.3s;
          margin-top: 5px;
        }
      }

      .body-btn button:hover {
        background-color: rgba(255, 255, 255, 0.793);
      }
      .mid-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0 0;
        color: var(--white);
        text-align: start;
        margin-top: 10px;

        p,
        a {
          font-size: 0.9vw;
          padding: 0.3rem 0.4rem;
          color: var(--white);
          text-decoration: none;
          font-weight: 600;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
    
    
  }
}

@media (max-width: 676px) {
  .auth-body-login {
    width: 100%;
    .login-container{
      display: none;
    }
    .login-user {
      width: 100%;
      .top {
        .top-1 {
          p,
          i {
            font-size: 18px;
          }
        }
        .top-2 {
          font-size: 28px;
        }
      }
      .mid {
        .mid-1 {
          p,
          a {
            font-size: 12px;
          }
        }
      }
    }
  }
  .auth-body-signup{
    width: 100%;
    .signup-container{
      display: none;
    }
    .signup-user{
      width: 100%;
      .top{
        .top-1{
          p,i{
            font-size: 18px;
          }
        }
      }
      .mid{
        .mid-1{
          p,a{
            font-size: 13px;
          }
        }
      }
            
  }
}
}