:root {
  --roomborder: #ececec;
  --roomtext: #d1d1d1;
  --roomdark: #0d1117;
  --roomlight: #151b23;
  --borderbottom: #4e4e4eb9;
  --white: white;
  --llwhite: #ffffffb7;
  --room-bottom: #2a2e38;
  --white: #fff;
  --black: #000;
  --bodydark: #151b23;
  --navdark: #0d1117;
  --lightBulue: rgb(34, 237, 255);
  --links: rgb(34, 237, 255);
}

.profile-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
  color: #e5e7eb;
  font-family: "Quicksand", sans-serif;
}
.profile-container .profile-container-top {
  background: rgba(255, 255, 255, 0.0431372549);
  padding: 2rem;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}
.profile-container .profile-container-top-left img {
  width: 130px;
  height: 130px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease;
}
.profile-container .profile-container-top-left img:hover {
  transform: scale(1.05);
}
.profile-container .profile-container-top .fa-pen-to-square {
  font-size: 0.9rem;
  color: var(--llwhite);
  cursor: pointer;
  position: absolute;
  top: 31%;
  left: 13%;
  background-color: var(--roomlight);
  padding: 7px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.1);
}
.profile-container .profile-container-top-mid {
  flex: 1;
  min-width: 250px;
}
.profile-container .profile-container-top-mid .username h1 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #e5e7eb;
  margin-bottom: 0.3rem;
}
.profile-container .profile-container-top-mid .username p {
  font-size: 0.9rem;
  color: #d1d5db;
}
.profile-container .profile-container-top-mid .bio {
  margin: 0.5rem 0 1rem;
  font-style: italic;
  color: #eeeff1;
}
.profile-container .profile-container-top-mid .follow_request,
.profile-container .profile-container-top-mid button {
  margin-top: 0.5rem;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s ease;
}
.profile-container .profile-container-top-mid .follow_request:hover,
.profile-container .profile-container-top-mid button:hover {
  background: #0b63f3;
}
.profile-container .profile-container-top-right {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  text-align: center;
}
.profile-container .profile-container-top-right-1, .profile-container .profile-container-top-right-2, .profile-container .profile-container-top-right-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #1f2937;
  padding: 1rem 1.3rem;
  border-radius: 12px;
  height: 70px;
}
.profile-container .profile-container-top-right-1 p, .profile-container .profile-container-top-right-2 p, .profile-container .profile-container-top-right-3 p {
  margin: 0;
  color: #e5e7eb;
}
.profile-container .profile-container-top-right-1 p:first-child, .profile-container .profile-container-top-right-2 p:first-child, .profile-container .profile-container-top-right-3 p:first-child {
  font-weight: bold;
}
.profile-container .profile-container-top-right-1 p:last-child, .profile-container .profile-container-top-right-2 p:last-child, .profile-container .profile-container-top-right-3 p:last-child {
  font-size: 0.9rem;
  color: #d1d5db;
}
.profile-container .profile-container-top-right-1 a, .profile-container .profile-container-top-right-2 a, .profile-container .profile-container-top-right-3 a {
  color: #3b82f6;
  font-weight: bold;
}
.profile-container .profile-container-top-right-1 a:hover, .profile-container .profile-container-top-right-2 a:hover, .profile-container .profile-container-top-right-3 a:hover {
  text-decoration: underline;
}
.profile-container .profile-container-mid {
  margin-top: 3rem;
}
.profile-container .profile-container-mid .card {
  background: var(--roomdark);
  color: var(--roomtext);
  border-radius: 12px;
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
}
.profile-container .profile-container-mid .card:hover {
  transform: translateY(-2px);
}
.profile-container .profile-container-mid .card .card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 0 1rem 0;
  border-bottom: 0.1px solid var(--borderbottom);
}
.profile-container .profile-container-mid .card .card-top-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.profile-container .profile-container-mid .card .card-top-left img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.profile-container .profile-container-mid .card .card-top-left a {
  color: #3b82f6;
  font-weight: 600;
}
.profile-container .profile-container-mid .card .card-top-left a:hover {
  text-decoration: underline;
}
.profile-container .profile-container-mid .card .card-top p {
  font-size: 0.8rem;
  color: #d1d5db;
}
.profile-container .profile-container-mid .card .card-mid {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  flex-wrap: wrap;
  padding: 1rem 0;
  border-bottom: 1px solid var(--borderbottom);
}
.profile-container .profile-container-mid .card .card-mid-left a {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  max-width: 90%;
  min-width: 0;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.profile-container .profile-container-mid .card .card-mid-left a:hover {
  color: #3b82f6;
}
.profile-container .profile-container-mid .card .card-mid-left small {
  display: block;
  color: #d1d5db;
  margin-top: 0.8rem;
  max-width: 0%;
  min-width: 95%;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.profile-container .profile-container-mid .card .card-mid-right {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.profile-container .profile-container-mid .card .card-mid-right i {
  color: #d1d5db;
  cursor: pointer;
  transition: color 0.3s;
}
.profile-container .profile-container-mid .card .card-mid-right i:hover {
  color: #ef4444;
}
.profile-container .profile-container-mid .card .card-mid-right .card-mid-right-gobal {
  font-size: 1.1rem;
  color: #3b82f6;
}
.profile-container .profile-container-mid .card .card-bottom {
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.profile-container .profile-container-mid .card .card-bottom p {
  font-size: 0.9rem;
  color: #d1d5db;
}
.profile-container .profile-container-mid .card .card-bottom p a {
  color: #3b82f6;
}
.profile-container .profile-container-mid .card .card-bottom p a:hover {
  text-decoration: underline;
}
.profile-container .profile-container-mid .card .card-bottom .card-bottom-right button {
  background: transparent;
  border: 1px solid #3b82f6;
  color: #3b82f6;
  padding: 0.3rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
.profile-container .profile-container-mid .card .card-bottom .card-bottom-right button a {
  text-decoration: none;
  color: inherit;
}
.profile-container .profile-container-mid .card .card-bottom .card-bottom-right button:hover {
  background: #3b82f6;
  color: white;
}

@media (max-width: 768px) {
  .profile-container-top {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .profile-container-top .fa-pen-to-square {
    top: 34% !important;
    left: 80% !important;
  }
  .profile-container-top-right {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .profile-container-top-mid .follow_request, .profile-container-top-mid button {
    width: 100%;
  }
  .card-mid,
  .card-bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
  }
  .card-mid-left small {
    max-width: 60%;
  }
  .card-mid-left a {
    max-width: 50%;
  }
  .card-bottom-right {
    width: 100%;
    text-align: left;
  }
}/*# sourceMappingURL=profile.css.map */