{% extends 'base.html' %} {% load static %} {% block link %}
<link rel="stylesheet" href="{% static 'css/createroom.css' %}" />
{% endblock %}
{% block nav1 %}
<a href="{% url 'Create-room' %}">/ Create Room</a>
{% endblock %}
{% block content %}
<div class="main-body quicksand"> 
  <form action="{% url 'Create-room' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="room-title">
      <label for="room-title">Room Name</label>
      {{form.name}}
    </div>
    <div class="room-description">
      <label for="room-description">Room Description</label>
      {{form.description}}
    </div>
    <div class="room-tag">
      <label for="room-tags">Room Tags</label>
      {{form.tags}}
    </div>
    <div class="room-private">
      <label for="room-private">Private Room</label>
      {{form.is_private}}
    </div>
    <button type="submit">Create</button>
  </form>
  <div class="create-room-container">
    <div class="create-room-container-left">
      <h1>Create Room</h1>
    </div>
    <div class="create-room-container-right">
      
    </div>
  </div>
</div>
{% endblock %}
