{% extends 'base.html' %}{% load static %} {% block title %}
<title>Dashboard</title>
{% endblock %} {% block link %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
{% endblock %} {% block nav1 %}
<a href="{% url 'Dashboard' %}">/ dashboard</a>
{% endblock %} {% block content %}
<div class="main-dash quicksand">
  <div class="top">
    <p class="quicksand">VOREX ROOM TABLE</p>
    <div class="top-1">
      <a href="{% url 'User-dashboard' %}">User Dashboard</a>
      <a href="{% url 'Study-dashboard' %}">Study Materials Dashboard</a>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th onclick="sortTable(0)">Room Name</th>
        <th>Description</th>
        <th onclick="sortTable(1)">Category</th>
        <th onclick="sortTable(2)">Members</th>
        <th onclick="sortTable(3)">Created On</th>
        <th>Created By</th>
        <th>Privacy</th>
      </tr>
    </thead>
    <tbody id="tableBody">
      {% for room in rooms %}
      <tr>
        <td>{{room.name}}</td>
        <td class="description">{{room.description}}</td>
        {% for tag in room.tags.all %}
        <td>{{tag.name}}</td>
        {% endfor %}
        <td>{{room.member_count}}</td>
        <td>{{room.created_at}}</td>
        <td><a href="{% url 'Profile' room.created_by %}">{{room.created_by}}</a></td>
        {% if room.is_private %}
        <td>Private</td>
        {% else %}
        <td>Public</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
